<p id="notice"><%= notice %></p>
<h2><%= @q.result.count %>人</h2>
<h1>Users</h1>
<%= search_form_for @q do |f| %>
  <%= f.label(:name_cont, "用户名") %>
  <%= f.text_field :name_cont %>
  <%= f.label(:sex_eq, "性别") %>
  <%= f.select :sex_eq, User::SEX.invert, include_blank: '全部' %>
  <%= f.label(:category_eq, "类型") %>
  <%= f.select :category_eq, User.categories.map{|k, v|  [category_name(k), v] }, include_blank: '全部'%>
  <%= submit_tag("查询") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<li><%= link_to "New user", signup_path %></li>
