<article class="reply clearfix">
  <div class="avatar">
    <%= link_to "#" do %>
      <img src=<%= current_user.avatar %> alt="" class="image-circle">
    <% end %>
  </div>
  <%= form_for(Comment.new(:issue_id => issue.id, :user_id => current_user.id)) do |f| %>
    <%= f.hidden_field :issue_id %>
    <%= f.hidden_field :user_id  %>
    <%= f.text_area :content %>
    <%= submit_tag '提交评论', class: 'btn btn-primary btn-submit' %>
  <% end %>
</article>
